* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vazir;
}

.jobs-section-container {
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .jobs-section-container {
    margin: 2rem;
  }
}
.jobs-section-container .jobs-main-title {
  text-align: center;
  margin-bottom: 2.7rem;
}

.jobs-section-container .jobs-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .jobs-section-container .jobs-wrapper {
    overflow: visible;
  }
}

.jobs-section-container .jobs-wrapper .jobs-img-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 865px) {
  .jobs-section-container .jobs-wrapper .jobs-img-box {
    display: none;
  }
}

.jobs-section-container .jobs-wrapper .left-img {
  left: -10%;
}

.jobs-section-container .jobs-wrapper .right-img {
  right: -3%;
}

@media screen and (max-width: 1300px) {
  .jobs-section-container .jobs-wrapper .left-img {
    left: -20%;
  }
  .jobs-section-container .jobs-wrapper .right-img {
    right: -10%;
  }
}

@media screen and (max-width: 1120px) {
  .jobs-section-container .jobs-wrapper .left-img {
    left: -30%;
  }
  .jobs-section-container .jobs-wrapper .right-img {
    right: -16%;
  }
}

@media screen and (max-width: 1000px) {
  .jobs-section-container .jobs-wrapper .left-img {
    left: -40%;
  }
  .jobs-section-container .jobs-wrapper .right-img {
    right: -20%;
  }
}

/* timeline event */
.jobs-section-container .timeline-wrapper {
  position: relative;
  max-width: 650px;
  padding-top: 4rem;
}

.jobs-section-container .timeline-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background: #eee;
}

.jobs-section-container .timeline-wrapper .timeline-event {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.jobs-section-container .timeline-event .event-box:nth-child(1) {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .jobs-section-container .timeline-wrapper::before {
    left: 0;
  }

  .jobs-section-container .timeline-wrapper .timeline-event {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
  }
  .jobs-section-container .timeline-event .event-box:nth-child(1) {
    text-align: start;
  }
}

.jobs-section-container .timeline-event .event-date {
  margin: 0 2rem;
  width: 100%;
  color: #2f2f2f80;
}

.jobs-section-container .timeline-event .event-content {
  margin: 0 2rem;
  width: 100%;
}

.jobs-section-container .timeline-event .event-content .event-sub-text {
  color: #2f2f2f80;
}

.jobs-section-container .timeline-event .event-point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: rgb(75,244,239);
background: linear-gradient(90deg, rgba(75,244,239,1) 0%, rgba(167,198,246,1) 50%, rgba(191,248,186,1) 100%);
  border-radius: 50%;
  border: 8px solid #fff;
}

@media screen and (max-width: 768px) {
  .jobs-section-container .timeline-event .event-point {
    left: 0;
  }
}

.jobs-section-container .timeline-event .event-point::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #1e8dee;
  border-radius: 50%;
  animation: scale-point 2s infinite;
}

@keyframes scale-point {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
